

/*new*/
body html{
    height: 100%;
}
body{
    /*background-color:#eceff1;*/
    font-family: 'Roboto Slab', serif;
}

#logo{
    padding-left: 100px;
}
#navRight{
    padding-right: 100px;
}
#page1Btn{
    background-color: none;
}

#text{
    background-color: white;
    opacity: .2;
    width: 450px;
    height: 350px;
    margin-left: 45%;
    margin-top: 5%;
}
/*#homeImg{
    margin-top: -45%;
}*/
h1{
    text-align: center;
}
#work{
    margin-left: 42.7%;
    margin-right: 42%;
}


/*home page*/
.backGroundImg{
    background-image: url("../images/cali1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    /*filter: blur(5px);*/
}
#bio{
    width: 50%;
    margin-left: 26%;
    font-weight: 600;
    line-height: 170%;
}
#page1{
    width: 70%;
    z-index: 900;
    background-color: white;
    margin-left: 12%;
    height: 100%;
}

.ed2{
    float: left;
    margin-right: 100px;
    margin-left: 23%;
}
.ed3{
    float: left;
}


/*end home*/

img{
    border-radius: 5px;
}
#page2{
    margin-top: -2.1%;
    padding-bottom: 50px;
    width: 80%;
    margin-left:10%;
    background-color: white;
}
#lower{
    padding-top: 5.1%;
}
#page3{
    padding-bottom: 50px;
}
p{
    padding-bottom: 5%;
    line-height: 150%;
}
.btnYou{
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    /*border: white 2px solid;*/
    
}
/*Study page*/

.studyInfo{
    text-align: center;
    margin-left: -11%;
}
.studyInfo2{
    text-align: center;
    margin-left: -2%;
}
#titleStudy{
    padding-bottom: 2%;
}
h2{
    text-align: center;
}
#jalepinos{
    margin-left: 34%;
    margin-top: 2%;
}
#studyhr{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 60%;
}
#restaurant{
    width: 70%;
    margin-left: 17%;
    margin-top: -3%;
}
/* study over*/


.smaller{
    width: 100%;
}
.check{
    margin-left: 5%;
}

.check{
    margin-left: 5%;
}
img{
    padding-bottom: 2%;
    padding-right: 2%; 
    padding-right: 2%;
    border-radius: 5px;
}
hr{
    margin-left: 40%;
    margin-right: 40%;
}
#small1{
    margin-left: 42.5%;
}
small{
    margin-left: 41%;
    padding-bottom: 5%;
}
#shit{
   margin-left: 42.5%;
   margin-top: 5%;
}
#form{
    margin-top: -3%;
}
#p2{
    margin-top: -5%;
    margin-left: 5%;
}
#p3{
    margin-top: -5%;
    margin-left: -3.5%;
}
.move{
    margin-top: -2%;
}
#bioTitle{
    text-align: center;
}
.link:hover{
    color:#ec407a;
}
#showcase{
    margin-left: 6%;
    margin-top: -2%;
}
/*home page*/
#homeText{
    padding-top: 5%;
}
#homeHr{
   border: none;
   background-color: black;
    height: 2px;
}
h5{
    margin-left: 29%;
}
h3{
    text-align: center;
}
.ed1{
    margin-left: 40%;
}
span{
    padding-right: 25px;
    font-size: 28px;
    
}


/*overlay*/
/*.neatLarge {
  position: relative;
  width: 100%;
  height: 300px;
}
.neatSmall {
  position: relative;
  width: 100%;
  height: 300px;
 
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ec407a;
  overflow: hidden;
  width:98.5%;
  height:0;
  transition: .7s ease;
  border: white 5px solid;
  border-radius: 5px;
  
}
.overlaySmall {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ec407a;
  overflow: hidden;
  width: 97.6%;
  height:0;
  transition: .7s ease;
  border: white 5px solid;
  border-radius: 5px;
}

.neatLarge:hover .overlay {
  bottom: 0;
  height: 100%;
}
.neatSmall:hover .overlaySmall {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}*/

/*Light Box*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    /*top: 15px;*/
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

}

/*flip animation*/

.f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
  margin-top: 0%;
}
.f1_container {
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.f1_container:hover .f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #e91e63;
  border-radius: 5px;
  /*margin-top: -2%;*/
}
.pls{
    width: 90%;
    margin-top: -3.5%;
    
}
.pls2{
    width: 100%;
    height: 105%;
}

/*d3 graph*/
.horizontal-bar-graph {
  display: table;
  width: 50%;
}

.horizontal-bar-graph-segment {
  display: table-row;
}

.horizontal-bar-graph-label {
  display: table-cell;
  border-right: 1px solid silver; 
  text-align: right;
  padding: 4px 10px 4px 0;
  vertical-align: baseline;
  white-space: nowrap;
}

.horizontal-bar-graph-value {
  display: table-cell;
  padding: 3px 0;
  vertical-align: baseline;
  width: 100%;
}

.horizontal-bar-graph-value-bar {
  background: silver;
  
  padding: 4px 4px 3px;
  height: 2em;
  text-align: right;
  color: white;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}


#my-graph{
    margin-left: 20%;
}






